<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="description" content="A website for submitting sketches to find art inspiration">
    <meta name="author" content="Gabby Zhou">
    <meta name="keyword" content="art,portrait,nature,inspiration,comparison">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--for improving display on different device-->
    <title>Gabby's Virtual Gallery</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>

<body>
	<div class="container">
		<div class="box-1">
			<h1>Welcome to <b> Gabby's Virtual Gallery</b></h1>
			<p><b><big>Here</big></b> you can find inspiration of <b><big>art</big></b> and <b><big>storytelling</big></b></p>
			<p> <small>This is an accessible website features adjustment buttons</p>
		</div>

		<div class="box-2">
			<h1>Assistive Buttons</h1>
			<div id ="app">
			<div class="block">
				<h3>Color Contrast</h3>
				<change-color></change-color>
				<!-- <div  v-on:click="available = !available" v-bind:class="{available: available}">
					<span>Click for black background + white text for stronger contrast.</span>
				</div> -->
				<!-- <div v-for="colcontrast in colcontrasts" :key="colcontrast.contrastID">
					<a class=button v-on:click="updateColor(colcontrast.textColor)">Color Contrast Mode</a>
					Black text + white background for stronger contrast.
				</div> -->
					<!-- <div id="app"> -->
					<!-- <a class=button v-on:click="strongTxt()">Color Contrast Mode</a>

					<p v-bind:style="{ color: changeTextColor }">
					    class="highcontrastbg" -->
						<!-- Black text + white background for stronger contrast.
					</p> -->
				
			</div>
				

			<div class="block">
				<h3>Font Adjustment</h3>
				<!-- <div id="app"> -->
					<change-font></change-font>
				<!-- <div>
					<div id="body" v-bind:style="{ fontSize: computedFont }" ></div>
					<a class="button" v-on:click="changeFontBigger()">
						Increase font size
					</a>
					&nbsp;&nbsp;&nbsp;
					<a class="button" v-on:click="changeFontSmaller()">
						Decrease font size
					</a>
				  
					<p v-bind:style="{ fontSize: computedFont }">
						Font size is: {{ computedFont }}
					</p>
				</div> -->
				</div>
			</div>
		
			<!-- <div class="block">
				<h3>Color Contrast</h3>
				<div id="app" class="container"> 
					<button v-on:click="updateColor">
					Color on a white background
				  </button>
				  <p></p>
				  <button v-on:click="fontSize--"> 
					Neutral on a colored background
				  </button>

				  <div id="app" v-bind:style="{ backgroundColor: color}">
				  <h4>Try a color</h4>
  					<div class="color">
				 		<input type="text" v-bind:style="{ color: color}" v-model="color" maxlength="7" placeholder="#000000"/>
  						<input type="color" v-model="color"/>
    				</div>
				</div>
				
				</div>
			</div>
			<div class="block">
				<h3>Font Adjustment</h3>
				<div id="app" class="container">
					<button v-on:click="fontSize++">
					Increase font size
				  </button>
				  <p></p>
				  <button v-on:click="fontSize--">
					Decrease font size
				  </button>
				  
				  <p v-bind:style="{ fontSize: fontSize + 'px' }">
					Font size is: {{ fontSize }}
				  </p>
				  </div>
				</p>
			</div> -->
			<div class="block">
				<h3>Text-to-Audio</h3>
				<p>reserved space reserved space reserved space reserved space reserved space reserved space reserved space
				</p>
			</div>
			<hr>
			<a class="button" href="https://www.w3.org/standards/webdesign/accessibility" target="_blank">Read More</a>
		</div>

		<div class="categories">
			<h2>Categories</h2>
			<ul>
				<!-- 
					Homepage: using Vue.js to make assistive buttons and functional components, firebase to add user info data
					Gallery 1: using Artsy API, choose color and search artworks
					Gallery 2: using Bootstrap
					Gallery 3: my art blog, using Firebase to store comment data and Vue.js for simple data visualization
					Gallery 4: allowing user to build their own storyboard (vue.js + firebase)
				-->

				<li><a href="Gallery1.html" target="_blank"><h3>Gallery I: Multimedia Studio</h3></a></li>
				<li><a href="dir1/Gallery2.html" target="_blank"><h3>Gallery II: My Storyboard</h3></a></li>
				<li><a href="Gallery3.html" target="_blank"><h3>Gallery III: Gabby Zhou Artworks</h3></a></li>
				<li><a href="gallery4/public/index.html" target="_blank"><h3>Gallery IV: Ocean Theme, <i>a sample storyboard</i></h3></a></li>
			</ul>
		</div>

		<form class="my-form">
			<div class="form-group">
				<label>Name: </label>
				<input type="text" name="name">
			</div>
			<div class="form-group">
				<label>Email: </label>
				<input type="text" name="email">
			</div>
			<div class="form-group">
				<label>Message: </label>
				<textarea name="message"></textarea>
			</div>
			<input class="button" type="submit" value="Submit" name="">
		</form>

		<!-- <div class="block">
			<h3>Color Contrast</h3>
			<p>reserved space reserved space reserved space reserved space reserved space reserved space reserved space reserved space reserved space
			</p>
		</div>
		<div class="block">
			<h3>Font Adjustment</h3>
			<p>reserved space reserved space reserved space reserved space reserved space reserved space reserved space reserved space reserved space
			</p>
		</div>
		<div class="block">
			<h3>Text-to-Audio</h3>
			<p>reserved space reserved space reserved space reserved space reserved space reserved space reserved space reserved space reserved space
			</p>
		</div> -->

		<div class="clr"></div>

		<div id="main-block">
			<h3>Heading</h3>
			<p>reserved space reserved space reserved space reserved space reserved space reserved space reserved space reserved space reserved space
			</p>
		</div>

		<div id="sidebar">
			<p>reserved space reserved space reserved space reserved space reserved space reserved space reserved space reserved space reserved space
			</p>
		</div>

		<div class="clr"></div>

		<div class="p-box">
			<h1>Hello</h1>
			<h2>Goodbye</h2>
		</div>

		<ul class="my-list">
			<li><a href="https://collections.mfa.org/collections;jsessionid=DD10673736907D17FC56DF8ACDF8F2FC" target="_blank">Museum of Fine Arts Boston Collection</a></li>
			<li><a href="https://www.metmuseum.org/art/collection" target="_blank">The Met Museum Collection</a></li>
			<li>List Item</li>
			<li>List Item</li>
			<li>List Item</li>
			<li>List Item</li>
			<li>List Item</li>
			<li>List Item</li>
			<li>List Item</li>
			<li>List Item</li>
			<li>List Item</li>
			<li>List Item</li>
		</ul>
	</div><!-- ./container -->

	<a class="fix-me button" href="">Hello</a>

	<div style="margin-top:500px;"></div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
	<script src="main.js"></script>

</body>
</html>